html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0 1em;
  padding: 1em 0 15em;
  box-sizing: border-box;
  font-family: Helvetica Neue, Arial, sans-serif;
}
.atom {
  height: auto;
  margin-bottom: 1em;
  transition: height 200ms, margin-bottom 200ms, transform 200ms;
}
.atom:hover {
  opacity: 1;
  height: auto;
}
.atom.is-hidden {
  margin-bottom: 0;
  opacity: 0;
  height: 0;
  transform: translateX(-999em);
}

.loader {
  position: fixed;
  z-index: 1;
  width: 5em;
  height: 1em;
  text-align: center;
}

@keyframes load {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
.loader:after {
  content: '';
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 5em;
  height: 5em;
  border-radius: 50%;
  border: 2px solid;
  border-color: #aaa #aa0307;
  animation: load 500ms infinite;
}
.loader:before {
  content: '';
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 100%, 0.7);
}
.loader.is-hidden {
  display: none;
}
.commentLink.is-hidden {
  display: none;
}
.videoFrame {
  display: block;
}
.button {
  cursor: pointer;
}
.button:hover {
  border-bottom: 0.25em solid #aaa;
}
.button.is-hidden {
  display: none;
}
.controls {
  position: fixed;
  bottom: 1em;
  left: 1em;
  width: 100%;
}
.result {
  margin: 0;
  white-space: normal;
  height: 100%;
  overflow: scroll;
  border-bottom: 0.25em solid #aaa;
}

.u-center {
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
